<div class="content-container">
  <div class="content-category-block">
    <div class="content-category-header">
      <h2>Ordinary Drink</h2>
      <hr />
    </div>
    <div class="content-category-item">
      <div class="item-card">
        <img
          src="https://www.thecocktaildb.com/images/media/drink/rrtssw1472668972.jpg"
          alt="img"
        />
        <div class="card-title">
          <h3>3-Mile Long Island Iced Tea</h3>
        </div>
      </div>
      <div class="item-card">
        <img
          src="https://www.thecocktaildb.com/images/media/drink/rrtssw1472668972.jpg"
          alt="img"
        />
        <div class="card-title">
          <h3>3-Mile Long Island Iced Tea</h3>
        </div>
      </div>
    </div>
  </div>
</div>
