<div class="filter-container" [class.open]="active">
  <app-loading-spinner [loading]="loading"></app-loading-spinner>
  <form *ngIf="!loading" [formGroup]="categoriesForm" (ngSubmit)="onApply()">
    <label
      class="filter-item"
      formArrayName="categories"
      *ngFor="
        let category of categoriesForm.controls.categories['controls'];
        let i = index
      "
    >
      <input type="checkbox" [formControlName]="i" />
      {{ categoriesData[i] }}
      <span class="checkmark"></span>
    </label>
    <button class="filter-button">APPLY</button>
  </form>
</div>
<div class="toggler" [class.active]="active" (click)="toggleFilter()">
  <img src="assets/filter-icon.svg" alt="Filter" />
</div>
